{% include "_navbar.html" %}

<div style="display: flex; justify-content: center; align-items: center; height: 300px;">
  <a href="http://{{ request.host.split(':')[0] }}:5432" target="_blank"
     style="
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: red;
        color: white;
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
        box-shadow: 0 0 15px rgba(0,0,0,0.3);
     ">
    🚀 Launch Seestar Alp UI
  </a>
</div>
